@media screen and (max-width:767px){
    .wrapper{
        max-width: 100%;
    }
    .header{
        padding-top: 10px;
        position: relative;

    }
    .header-top{
        padding-bottom: inherit;
        position: fixed;
        background-color: #ffff;
        left: 0;
        right: 0;
        top: 0;
  
    }
    .header-banner{
        margin-top: 40px;
    }
    .header-logo{
        padding-left: 10px;
    }
    .sub-menu{
        display: block;
    }
    .header-menu{
        display: block;
        position: absolute;
        left: -100%;
        top: 50px;
        width: 100%;
        height: 100vh;
        background-color: black;
        transition: all 0.5s linear;
    }
    .header-links{
        color: white;
        
    }
    .header-item{
        margin-left: 0 !important;
        text-align: center;
        margin-top: 15px;
    }
    .isactivity{
        left: 0;
    }
    .photodiary {
        padding-top: 20px;
    }
    .caption{
        padding: 0 1%;
    }
    .title {
        font-size: 20px;
        padding: 0 1%;
        margin: 10px 0;
       
    }
    .desc {
        margin-bottom: 20px;
        padding: 0 1%;
        font-size: 12px;
        width: 100%;
    }
    .about {
        padding-top: 20px;
    }
    .list{
        display: grid;
        grid-template-columns: unset;
        grid-auto-columns: 95%;
        grid-auto-flow: column;
        overflow-x: auto;
        /* hiden scroll */

        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .list::-webkit-scrollbar{
        display: none;
    }
    .item{
        width: 100%;
        padding: 0 1%;
        margin-bottom: 0;
        text-align: center;
    }
    .button{
        padding: 15px 25px;
    }
    
    .send-content {
        text-align: center;
        padding: 15px 0;
    }
    .send-title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .send-mail {
        margin: 0 30px;
    }
    .footer{
        margin-top: 40px;
       
        padding: 0 1%;
    }
    
    .load-more{
        padding-top: 10px;
    }
}
@media screen and (max-width:400px) {
    .footer-content{
        display: block;
    }
    .footer-info{
       justify-content: center;
    }
    .footer-social{
        padding-top: 10px;
        justify-content: center;
    }
    
}