body{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    background-color: white;

}
:root{
    --text-color:#a1a1a1;
    --gray-light:#c8c3b9;
    --gray-dark:#626262;
    /* --gray:#f0f0f0; */
    --gray:#333333;

}
.row{
    max-width: 900px;
    margin: 0 auto;
}
.container{
    max-width: 1063px;
    margin: 0 auto;
}
.sub-menu{
    cursor: pointer;
    font-size: 20px;
    color: #333;
    display: none;
    position: absolute;
    left: 90%;
}
.header{
    padding-top: 70px;
    position: relative;
}
.header-top{
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    cursor: pointer;
}
.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.header-item:not(:first-child){
    margin-left: 95px;
}
.header-item{
    position: relative;
    
   
}
/* .header-item::before{
    content:'';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: pink;
    top: 75%;
    left: 0;
    transition:all 0.5s linear;
}
.header-item:hover::before {
    width: 100%;
} */
.header-links{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--gray-dark);
    transition: all 0.5s linear;
}
.header-links:after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    transition: 0.5s linear;
    left: 0;
    top: 80%;
    transform: scale(0);
    background-color: pink;
}
.header-links:hover:after{
    transform: scale(1);
}
.header
.photodiary{
    padding-top: 100px;
}
.caption{
    
    text-transform: uppercase;
    color: var(--gray-light);
    line-height: 1;
}
.title{
    font-size: 30px;
    color: var(--gray-dark);
    margin-bottom: 36px;
    margin-top: 30px;
    font-weight: 400;
   
}
.desc{
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 50px;
    width:calc(100% - 27.5px);
}
.about{
    padding-top: 135px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.header-banner{
    margin-bottom: 40px;
}
.item{
    width: calc((100% - 27.5px)/2);
    margin-bottom: 80px;
}
.image{
    margin-bottom: 30px;    
}
.send{
    height: auto;
    background-color: #f0f0f0;
}
.send-content{
    max-width: 400px;
    margin: 0 auto;
    padding: 72px 0;
}
.send-title{
    color: var(--gray);
    font-size: 30px;
    margin-bottom: 80px;
  
    
}
.send-mail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #333;
    padding-bottom: 5px;
}
.input-text{
    color: var(--gray-dark);
    padding: 10px;
    outline: none;
    border: none;
    background-color: #f0f0f0;
    width: 95%;
}
.send-mail-image{
    cursor: pointer;
    line-height: 1;
}
.info{
    padding-top: 100px;
}
.load-more{
    padding-top: 45px;   
    text-align: center;
}

.button{
    padding:20px 35px;
    border: 1px solid var(--gray);
    line-height: 1;
    text-decoration: none;
    transition: 0.5s linear;
}
.button:hover{
    background-color: pink;
    border-color: transparent;
}
.footer{
    margin-top: 100px;
    background-color: #f0f0f0;
   
    
    
    
    
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding:20px 10px;
}
.footer-info{
    display: flex;
    
}
.footer-info-name{
    text-decoration: none;
    color: var(--gray);
}
.footer-social{
    display: flex;
}
.footer-info-name{
    padding-right: 20px;
}
.follow,
.social-icon{
    line-height: 1;
}
.follow{
    text-decoration: none;
    color: #000000;   
    margin-right: 20px; 
}
.social-icon:not(:last-child){
    margin-right: 20px;
}
