/* @media (min-width: 768px){
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333%;
        padding: 0;
    }
} */
@media (min-width:1025px){
    .header-menu-link:hover{
        color: #FFFF;
    }
    .header-menu-link:hover::before{
        color:#FFFF;
        transform: scale(1);
    }
    .banner-social a:hover{
        opacity: 0.5;
        
    }
    .link:hover{
        color: rgba(255,255,255,1);
        box-shadow: inset  200px  0 0 0 #333    ;
    }
    
    /* button hover effects */
    .btn-effect span{
        position: absolute;
        display: block;
        background: pink;
        
    }
    .btn-effect span:nth-child(1){
        left:0;
        bottom: 0;
        height: 100%;
        width: 1px ;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.5s;
    }
    .btn-effect:hover span:nth-child(1){
        transform: scaleY(1);
        transform-origin: bottom;
        transition: transform 0.5s;
    }
    .btn-effect span:nth-child(2){
        left:0;
        bottom: 0;
        width: 100%;
        height: 1px ;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
       
    }
    .btn-effect:hover span:nth-child(2){
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.5s;
        
    }
    .btn-effect span:nth-child(3){
        right:0;
        bottom: 0;
        height: 100%;
        width:  1px ;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.5s;
        /* transition-delay: 0.5s; */
        
    }
    .btn-effect:hover span:nth-child(3){
        transform: scaleY(1);
        transform-origin: bottom;
        transition: transform 0.5s;
        /* transition-delay: 0.5s; */
        
    }
    .btn-effect span:nth-child(4){
        top:0;
        left: 0;
        width:  100%;
        height:  1px ;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s;
        /* transition-delay: 0.5s; */
       
    }
    .btn-effect:hover span:nth-child(4){
        transform: scaleX(1);
        transform-origin: right    ;
        transition: transform 0.5s;
        /* transition-delay: 0.5s; */
        
    }
    .news-item:hover{
        box-shadow: 0 7px 10px 5px rgba(0,0,0, 0.1);
    }
    .footer-social-item:hover{
        opacity: 0.5;
        transition: 0.5s;
    }
}

@media (min-width: 1400px){
    .container{
        max-width:1170px;
    }
    

    .banner-title  {
        font-size: 42px;
        line-height: 1.3;;
    }
    .banner-content {
        padding-top: 300px;
    }
    .banner-description {
        margin-top: 15px;
        margin-bottom: 55px;
    }
    .banner-social {
        flex-direction: column;
        position: absolute;
        left: 82%;
        text-align: center;
        z-index: 4;
    }
    .banner-angle img {   
         bottom: 3px;

    }
    

    .about-box {
        margin-left: 20px;
    }
    
    .title p {
        padding-bottom: 20px;
    }
    .about-desc > p:nth-of-type(1) {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .about-desc {
        padding-bottom: 41px;
        line-height: 1.5;
        font-size: 16px;
    }
    .about-caption-title {
        left: 235px;
        bottom: -25px;

    }
    .about-caption-icon {
        top: 370px;
        left: 203px;
    }
    .service-item {

        padding: 40px 68px 46px 40px;
    }




 }


 @media ( min-width:1200px ) and  ( max-width:1400px ){
    .about-caption-title {
        left: 218px;
        bottom: -45px;
    }
    .about-caption-icon {
        left: 186px;
        top: 370px;
    }
    .about-desc {
        padding-bottom: 0;
        overflow-y: scroll;
        height: 301px;
        margin-bottom: 30px;
    }
    .about-box {
        margin-left: 65px;
    }
 }


 @media  (min-width: 992px) and (max-width:1199px) {

    .header-img::after {
        left: -130px;
        bottom: 7px;
        width: 362px;
    }
    .header-menu-item {
        margin-right: 37px ;
    }
    
    .header-img > p {
        font-size: 12px  ; 
    }
    .banner-content {
        padding-top: 295px;
    }
    .banner-title {
        font-size: 38px;
    }
    .banner-description {
        font-size: 16px;
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 70px;
    }
    .banner-social {
    
        left: 87%;

    }
   
    .title p {
        padding: 8px 0 15px 0;
        font-size: 38px;
    }
    .about-box {
        margin-left: 0px;
    }
    
    .about-desc > p:nth-of-type(1) {
        padding-bottom: 0;
        margin-bottom: 5px;
    }
    .about-image{
        margin-right: 50px;
    }
    .about-desc {

        font-size: 15px;
        height: 233px;
        overflow-y: scroll;
        margin-bottom: 47px;
    }
    .about-caption-title {
        left: 176px;
        bottom: -25px;
        padding: 25px 18px 35px 50px;
        font-size: 18px;

    }
    .about-caption-icon {
        position: absolute;
        width: 80px;
        left: 148px;
        top: 306px;
    }
    .service-item {

        padding: 40px 70px 40px 30px;
    }
    .service-number {

        right: 30px;

    }
    .news {
        padding: 95px 0;
    }
    .new-info h2 {
        font-size: 19px;
        font-weight: bold;
    }
    .feedback-brand {
        margin-top: 60px;
    }
    .feedback-box {
        padding: 0;
    }
    .feedback-about {
        max-width: 84%;
        margin-left: 83px;
        padding-top: 25px;
    }
    .footer-menu {
        margin-left: 0;
    }
    .footer-form {
        margin-left: 0;
    }
    .form-action {
        right: -28px;
        transform: translateX(-56%);
    }
    .form input {
        width: 270px;

    }
}
@media (min-width: 768px) and (max-width: 991px) {
    
    .header-img::after {
        left: -150px;
        bottom: 7px;
        width: 350px;
    }
    .header-menu {
        top: 5px ;
    }
    .header::before {
        top: 147px ;
    }
    .header-menu-link {
        padding-bottom: 10px ;
    }
    
    .header-contact-info {
        margin-left: 10px ;
    }
    .header-img >p {
        font-size: 10px ;
    }

    .header-contact-item:not(:first-child) {
        margin-left: 35px     ;
    }
    .header-contact-info  {
        font-size: 12px ;
    }
    .banner {
        min-height: 590px;
        
    }
    
    .header-menu-item {
        margin-right: 40px ;
    }
    .banner-content {
        padding-top:180px;
    }
    
    .banner-title  {
        font-size: 28px ;
    }
    .banner-social {
        left: 83%;
        top: 55%;
        transform: translateY(0%);
    }
    .banner-description {
        font-size: 13px ;
        max-width: 100% ;
        margin-top: 10px;
        margin-bottom: 40px ;
    }

    .image-person img {
        width: 100%;
        height: 400px;
        /* object-fit: cover; */
        object-fit: inherit;
    }
    .about {
        padding-top:0px;
    }
    .about-caption-title {

        left: 410px;
        bottom: -27px;
        padding: 25px 18px 40px 42px;
        font-size: 18px;
 
    }
    .about-caption-icon {
        position: absolute;
        width: 75px;
        left: 384px;
        top: 310px;
    }
    .about-box {
        padding-top: 50px;
    }
    .title p {
        padding: 5px 0 10px 0;
        font-size: 35px;
    }
    .about-desc {
        padding-bottom: 40px;
        font-size: 15px;
    }
    .about-desc > p:nth-of-type(1) {
        padding-bottom: 0px;
        margin-bottom: 5px;
    }
    .service {
        padding: 30px 0;
        margin-top: 40px;

    }
    .service-item {
        width: 100%;
        padding: 20px 169px 35px 52px;
        border-bottom: 1px solid #265BC5;
        margin-bottom: 10px;

    }
    .news {
        padding-top: 30px;
        padding-bottom: 50px; 
    }
    
    .new-info {
        padding: 20px 5px 25px;
    }
    .new-info p {
       text-align: unset;
    }
    .new-more {
        padding: 10px 0;
    }
    .new-info h2 {
        font-size: 18px;
    }
    .new-month{
        font-size: 13px;
    }
    .more{
        font-size: 13px;
    }
    .feedback-about {
        margin-left: 30px;
        padding-top: 20px;
    }
    .feedback-icon {
        left: -60px;
        top: 9px;
    }
    .feedback-desc {

        height: 240px;
        overflow-y: scroll;
    }
    .feedback-content {

        padding-top: 20px;
    }
    .feedback-brand {
        margin-top: 43px;
    }
    .feedback-box {
        padding: 40px 0 0px 0;
    }
    .map{
        min-height: 125px;
    }
    .map-list {
        height: 125px;
    }
    .map::before {
        height: 125px;


    }
    .map-item img {
        width: 20px;
    }
    .map-item {
        width: calc(100% / 5);
    }
    .map-contact {
        font-size: 25px;
        white-space: nowrap;
        padding: 47px 0;
    }
    .map-item:not(:first-child) {
        width: max-content;
        margin-left: 20px;
        white-space: nowrap;
        text-align: center;
         padding: 17px 0px;
    }
    .map-item p {
        padding-top: 12px;
        font-size: 11px;
    }
    .footer {
        padding-top: 20px;
    }
    
    
    .footer-logo {
        padding-bottom: 15px;
    }
    .footer-desc {
        font-size: 14px;
        text-align: justify;
    }
    .footer-menu {
        margin-left: 0px;
    }
    .footer-form {
        margin-left: 0;
    }
    .form-action {
        right: -32px;
        
    }
    .form input {
        padding-right:60px;

    }
    .footer-top {
        padding-bottom: 30px;
    }
}

@media (max-width:767px){
    body{
        overflow-x: hidden;
        padding-top: 50px;

    }
    .container{
        max-width: 100%;
        margin: 0 ;
        padding: 0;
        
    }
    .row{
        padding: 0;
        margin: 00;
    }
    
    .header{
        padding: 10px 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #F8F8F8;
        z-index: 999;
    }
    .header-img > img {
        width: 100px;
    }
    .header-img >p {
        display: none;
    }
    .header-img > img{
        width: 100px;
    }
    .header-img::after {
        display: none;
    }
    .header-contact{
        position: absolute ;
        height: max-content;
        align-items: center;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        align-items: baseline;
    }
    .header-contact-item:not(:first-child){
        margin-left: 0;
    }
    .header-contact-list > .header-contact-item:nth-of-type(3){
        display: none;
       
    }
    .header-contact-item p,
    .header-contact-item span{
        display: none;
    }
   

    .header-menu-list {
        flex-direction: column;
        z-index: 99999;
        background-color: #333;
        position: absolute;
        width: 70%;
        left: 0;
        transform: translateX(-100%);
        display: none;
        top: 10px;
        align-items: unset;
        justify-content: unset !important;
        height: 100vh;
        transition:0.5s ;
        visibility: hidden;
        opacity: 0;
     
    }

    .header-menu-list li{
        opacity: 0;
    }
   
  
    .header-contact {
        margin-top: 0;
    }
    .header-menu-item {
        margin: 20px 0;
        width: 100%;
        text-align: center;
    }   
    .header-menu {

        top:0;
    }
    .sub-menu{
        display: block;
    }
    .isactive.header-menu-list{
        visibility: inherit;
        right: 0;
        margin-left: 0;
    }
    .isactive.header-menu-list{
        opacity: 1;
        transform: translateX(0);
    }
    .header-bottom {
        padding: 0;
    }
    .header::before {
        display: none;
    }
    /* animation menu */
    @keyframes navLink {
        from{
            opacity: 0;
            transform:  translateX(-50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
   .icon{
       visibility: inherit;
       right:20%; 
   }
   .icon svg {
       color: red;
    margin-left: 20px;
   }
    .banner {
        margin-top: 0;
        padding: 0 1%;
        min-height: 550px;
    }
    .banner-description {
        max-width: 100%;
        text-align: justify;
    }
    .banner-box {
       margin-top: 85px;
       max-width: 100%;
       padding: 0 1%;
    }
    .banner-content{
        margin: 0;
        padding: 0;
        display: block;
    }
    .banner-title {
        font-size: 23px;
    }
    .banner-social img {
        display: none;
        
    }
    .banner-social a {
        margin: 20px;
    }
    .about {
        padding-top: 30px;
    }
    .about-image{
        padding: 0;
    }
    .about-caption-title {
        left: 50vw;
        bottom: -14px;
        padding: 11px 11px 12px 31px;
        font-size: 3vw;
    }
    .about-caption-icon {
        width: 8vw;
        left: 47.3vw;
        top: 76vw;
    }
    .about-box {
        padding-top: 25px;
    }
    .title p {
        padding: 9px 0 10px 0;
    }
    .about-desc > p:nth-of-type(1) {
        padding-bottom: 0px;
        margin-bottom: 5px;
    }
    .about-desc {
        padding-bottom: 35px;
    }
    .image-person img {
        width: 100%;
    }
    .service {
        padding: 40px 0;
        margin-top: 55px;
    }
    .service-item {
        width: 100%;
        padding: 7px 0 15px 15px;
    }
    img.service-number {
        width: 50px;
    }
    .service-number {
        right: 5vw;
        top: 10px;
    }
    
    .news {
        padding: 40px 0;
    }  
    .news-item {
        width: 100%;
    } 
    .new-box {
        flex-direction: column;
    }
    .new-info {
        padding: 20px 5px 16px;
    }
    .new-more {
        padding: 15px 0;
    }
    .news-button-all {
        margin-top: 30px;
    }
    .feedback {
        max-height: 100%;
        margin-top: 35px;
    }
    .feedback-box {
        padding: 40px 0;
    }
    .feedback-content {
        
        flex-direction: column;
    }
    .feedback-info {
        left: 55%;
        transform: translateX(-50%);
        width: 47vw;
        padding: 2vw 3vw 2vw 4vw;
    }
    .feedback-info h4 {
        font-size: 3vw;
    }
    .feedback-info p {
        font-size: 2.5vw;
    }
    .feedback-icon {
        left: -12vw;
        top: 18px;
        width: 11vw;
    }
    .feedback-desc {
        font-size: 13px;
    }
    .feedback-about {
        max-width: 80%;
        margin-left: 14vw;
        padding-top: 30px;
    }
    .feedback-card {
        text-align: center;

    }
    .feedback-card img {
        width: 100%;
        padding: 0 30px;
    }
    .new-info h2 {
        font-size: 19px;
    }
    .title p {
        font-size: 25px;
    }
    .map::before {
        height: 100%;

    }
    .map-list {
        height: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .map-item a{
        display: flex;
        justify-content: initial;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;

    }.map-item p {
        padding-top: 0;
    }
    .map-item:not(:first-child) {
        text-align: unset;
        padding: 0px;
    }
    .map-contact {
        font-size: 23px;
        padding: 15px 0;
    }
    .map-item img {
        width: 20px;
        margin-right: 10px;
    }
    .map-list > .map-item:nth-of-type(1) {
        display: block;
        padding-top: 10px;
        margin: 0 auto; 

        
    }
    .footer {
        padding-top: 20px;   
     }
     .footer-top {
        padding-bottom: 10px;
        flex-direction: column;
    }
    .footer-top-item {
        margin-right: 23px;
        width: 120px;
    }
    .footer-logo {
        padding-bottom: 10px;
    }
    .footer-desc {
        text-align: justify;
    }
    .footer-menu {
        padding-top: 10px;
    }
    .footer-menu {
        margin-left: 0;
    }
    .footer-form {
        margin-left: 0;
    }
    .footer-form img{
        width: 100%;
    }
    .form input {
        width: 100%;
        object-fit: cover;

    }
    .form-action {

        right: -29px;

    }
    .form input{
        padding-left: 12px;
        padding-right: 70px;
    }
    .footer-top-list {
        display: flex;
        flex-wrap: wrap;
    }
    
    .py-5 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }
    .slick-dots {

        bottom: -35px;
    
    }
    .mybtn-scrolltop{
        display: none;
        visibility: hidden;
    }

}


