@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Mulish:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    font-size: 14px;
    font-family:'Open Sans', sans-serif; 
    line-height: 1.8 !important ;
    /* overflow-x:hidden; */
}

.header{
    position: relative;
    background-color: #F8F8F8;
   
}
.header::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 32px;
    width: calc((100% - 1170px)/2) ;
    height: 50px;
    background-color: #F8F8F8;

    z-index: 6;
}

.header::before{
    content: '';
    position: absolute;
    left: 0;
    top:185px;
    background-color:rgba(244,244,244, 0.3) ;
    width: 100%;
    height: 0.2px;
    z-index:4;
}
.header-img{
      
    color: #2C4985;
    margin-top: 5px;
    position: relative;
    z-index: 999;
    padding: 0;
}
.header-img::after {
    content: '';
    position: absolute;
    left: 0;
    left: -48px;
    bottom: 7px;
    width: 300px;
    height: 45px;
    background-color: #F8F8F8;
    z-index: -1;
    transform: skewX(-45deg);
}
.header-img >p{
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 10px;
}

.header-contact{
    margin-top: 20px;
    
}
.header-contact-info{
    margin-left: 16px;
}
.header-contact-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-contact-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-contact-item:not(:first-child){
    margin-left: 76px;
}
.header-contact-info > p,
.header-contact-info > span{
    font-family: 'Montserrat', sans-serif;
}
.header-contact-info > p{
    color: #1A3761 ;
}
.header-contact-info > span{
    color: #EE1F23;
    font-weight: 500;
    line-height: 1.5;
}
.sub-menu {
    width: 25px;
    position: absolute;
    right:4%;
    transform: translateY(-50%);
    top: 50%;
    z-index: 999;
    display: none;
}
.sub-menu div{
    cursor: pointer;
    width: 25px;
    height: 3px;
    background-color: red;
    margin: 5px;
    transition: transform 0.5s linear   ;
}
.isactive .line1{
    transform: rotate(-45deg)translate(-5px,6px);
   }
.isactive .line2{
       opacity: 0;
   }
.isactive .line3{
       transform: rotate(45deg)translate(-5px,-6px);
   }
.icon{
    position: absolute;
    cursor: pointer;
    font-size: 24px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 999;
    visibility: hidden;
}
.header-menu{
    position: relative;
    z-index: 5;
    top:27px
}
.header-menu-list{
    margin-left: 70px;
}
.header-menu-item{
    margin-right: 74px;
}
.header-menu-link{
    position: relative;
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
    color: #FFFF;
    padding-bottom: 21px;
    font-weight: 400;
    line-height: 1.5;
}
.header-menu-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #FFFF;
    color: #FFFF;
    transform: scale(0);
    transition: 0.3s linear;
    
}

.banner{

    position: relative;
    background: url("../image/banner.jpg") no-repeat center/cover ;
  
    margin-top: -65px;
    min-height: 886px;

   
}



.banner-content{
   padding-top: 290px;
    z-index: 4;
    /* margin-bottom: 150px; */
}

.banner-social{
    flex-direction: column;
    position: absolute;

    left: 82%;
    text-align: center;

    z-index: 4;
    top: 58%;
    transform: translateY(0);
    transition: 0.5s;
}
.banner-social > a:nth-of-type(2){
    margin: 30px 0;
}

.banner-box{
    max-width: 65%;

}
.banner-social{
    max-width: 35%;
}
.banner-title {
    display: block;
    font-family: 'Mulish', sans-serif;
    font-size: 46px;
    font-weight: 800;
    line-height: 1.5;
    color: #FFFF;
    

}
.banner-description{
    font-size: 16px;
    max-width: 90%;
    font-weight:300;
    margin-top: 20px;
    line-height: 1.4;
    color: #FFFF;
    margin-bottom: 70px;
}
.banner-angle img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index:4;
    bottom: 0;
}

.banner-angle::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 28px;
    height: 28px;
    border-left: 28px solid transparent;
    border-bottom: 28px solid #FFFF;
    border-right: 28px solid transparent;
    z-index: 4;
    transform: translateX(-50%);
}
.link{
    position: relative;
    padding: 14.4px 51px;
    background-color: #EE1F23;
    color:rgba(255,255,255,0.8);
    line-height: 1;
    height: 48px;
    box-shadow: inset 0 0 0 0 #333;
    transition: ease-out 0.5s ;

}



.link .arrow{
    position: absolute;
    top: 0;
    color: black;
    left: 100%;
    background-color: #F8F8F8;
    width: 48px;
    text-align:center ;
    height: 48px;
    padding: 14px;
}
.banner-angle{
    padding-top: 30px;
}
.about{
    padding-top: 62px;
}
.about-caption-title{
    position: absolute;
    left: 275px;
    bottom: -32px;
    padding: 43px 18px 50px 68px;
    font-size: 20px;
    font-weight:400;
    color: white;
    font-family: 'Mulish',sans-serif;
    text-transform: uppercase;
    background-color: #265BC5;
    font-weight: 700;
    line-height: 1.5;
}
.about-caption-title span{
    display: block; 
}
.about-caption-icon{
    position: absolute;
    width: 94px;
    left: 243px;
    top:415px;
}
.title span{
    font-family: 'Mulish',sans-serif;
    color: #EE1F23;
    text-transform: uppercase;
}
.title-uppercase p{
    text-transform: uppercase;
}

.title p{
    font-family: 'Mulish',sans-serif;
    color: black;
    padding: 14px 0 30px 0;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.3;
}
.about-desc{
    padding-bottom: 72px;
    
    font-size: 16px;  
    text-align: justify;  
}
.about-desc > p:nth-of-type(1){
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.service{
    width: 100%;
    padding: 120px 0;
    margin-top: 110px;
    background: url(../image/social_rectangle.jpg) no-repeat center/cover;
}
.service-box{
    margin: 0 auto;
    max-width: 1000px;
    
}

.service-number{
    position: absolute;
    right: 58px;
    top: 36px;
    color: #E0E0E0;
    font-size: 200px;
}
.service-item{
    position: relative;
    width: 50%;
    background-color: #F8F8F8;
    padding: 48px 169px 46px 52px;
    transition: all 0.4s linear;
}

.service-item:first-child{
    border-bottom: 1px solid #265BC5;
}
.service-item:hover{
    background-color: #265BC5;
    color: #F8F8F8 ;
    
}
.service-item:hover > .service-info h3 {
    color: #F8F8F8 ;
}
.service-item-active{
    background-color: #265BC5;
    color: #F8F8F8 ;
}
.service-item-active > .service-info h3{
   
    color: #F8F8F8 ;
}
.service-info{
    padding-top: 29px;
}
.service-info h3{
    font-family: 'Mulish',sans-serif;
    color: #265BC5;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 10px;
}
.service-info small{
    display: block;
}
.news{
    padding: 110px 0;
    
}
.new-info {
    padding: 22px 9px 25px;
}
.new-info h2{
    font-size: 22px;
    font-weight: bold;
   
    display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
}
.new-info p{
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
    overflow: hidden;
 
}
.new-more{
    border-top: 1px solid #E0E0E0;
    padding: 25px 20px;
    color: black;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}
.new-month img{
    margin-right: 6px;
}
.more{
    color: black;
}
.more:hover{
    color: black; 
}
.news-item{
   /* width: 362px; */
   width: calc(100% - 15px);
    transition: box-shadow 0.4s linear;
    cursor: pointer;
}
.new-box > .col-md-4:not(:last-child)> .news-item{
    margin-right: 20px;
}

.news-button-all{
    margin-top: 48px;
   
}
.feedback-container{
    overflow-x: hidden;
}
.feedback{
    background:
    linear-gradient(to bottom,
    rgba(255,255,255,0),
    rgba(255,255,255,1)),
         url(../image/feedback_image.png) no-repeat center/cover;
    max-height: 838px;
}
.slick-list {
    overflow: unset !important;

}
.feedback-box{
    padding: 123px 0 30px;
    overflow: hidden;

}

.feedback-content{
   
    max-width: 970px;
    margin: 0 auto;
  
}

.feedback-card img{
    width: 302px;
 
}
.feedback-card{
    position: relative;
}
.feedback-info{
    position: absolute;
    left: 86px;
    bottom: -21px;
    padding: 8px 40px 13px 15px;
    background-color: #265BC5;
}
.feedback-info h4{
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFF;
    padding-bottom: 4px;
}
.feedback-info p{
    font-size: 12px;
    font-weight: 400;
    color: white;
}
.feedback-about{
    max-width: 100%;
    margin-left: 120px;
    position: relative;
    padding-top: 25px;  
}
.feedback-icon{
    position: absolute;
    left: -70px;
    top: 12px;
}
.feedback-desc{
    text-align: justify;

}
.feedback-brand {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}
.feedback-brand img{
    width: 203px;
}
.map{
   margin-top: 32px;
    position: relative;
    background:url(../image/social_rectangle.jpg) no-repeat center/cover;
    width: 100%;
    min-height: 212px;
    z-index: 1;
   
}

.map::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #265BC5;
    width: 100%;
    height: 212px;
    z-index: 2;
    opacity: 0.955;
}
.map-list{
    height: 212px;
    justify-content: space-between;

    z-index: 999;
}
.map-contact {
    font-family: "Mulish",sans-serif;
    font-size: 42px;
    font-weight: 800;
    text-transform: uppercase;
    color: #FFFF;
    padding: 81px 0;
}
.map-address,
.map-email,
.map-social,
.map-phone{
    color: #FFFF;
}
.map-item:not(:first-child) {
    text-align: center;
    padding: 55px 0px;
}
.map-item img{
    width: 36px;
}
.map-item p{
    padding-top: 20px;
}
.footer{
    padding-top: 50px;
    background-color: #F3F3F6;
   
}
.footer-top{
    align-items: baseline;
    padding-bottom: 100px;
}
.footer-logo{
    padding-bottom: 40px;
}
.footer-name{
    font-size: -16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 15px;
}
.footer-desc{
    font-size: 15px;    
    font-weight: 400;
    color: #505050;
    line-height: 1.5;
}
.footer-menu{
    margin-left: 60px;
}
.footer-title-menu{
    font-size: 20px;
    font-weight: bold;
    color: #265BC5;
    padding-bottom: 20px;
}
.footer-top-list{
    margin-left: 20px;
}
.footer-top-item{
    list-style-type: disc;
    margin-bottom: 20px;
}
.footer-top-item::marker{
    color: #EE1F23;
}
.footer-top-item a{
    color: #505050;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.footer-form{
    margin-left:100px;
}
.form-title{
    font-size: 20px;
    font-weight: bold;
    color: #265BC5;
    padding-bottom: 20px;
}
.form-sub{
    
    font-size: 15px;
    line-height: 1.5;
    color: #505050;
    margin-bottom: 8px;
}
.form input {
    width: 235px;
    padding: 13px 39px 12px 12px;
    outline: none;
    border: 1px solid #CAD3DF;
    background-color: #ECEFF4;
}
.form{
    position: relative;
    margin-bottom: 20px;
}
.form input:focus{
    outline: none;
 
}
.form-action {
    position: absolute;
    right: -28px;
    bottom: 0;
    transform: translateX(-30px);
    padding: 19px 22.5px;
    line-height: 1;
    background-color: red;
}
.footer-bottom{
    border-top: 1px solid #D7D7D7;
}
/* slider custom*/
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #EE1F23;
    border-radius: 100%;
    border: 1px solid #265BC5;
}
.slick-dots li button:before {
    font-size: 9.5px;
}
.slick-dots {

    bottom: -45px;
}
/* scroll to top */

.mybtn-scrolltop{

    background:#f8f8f8;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 1;
    padding:7px 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}