@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    font-size: 14px;
    font-family:'Open Sans', sans-serif; 
    line-height: 1;
    /* overflow-x:hidden; */
}

.header{
    position: relative;
    background-color: #F8F8F8;
   
}

.header::before{
    content: '';
    position: absolute;
    left: 0;
    top:185px;
    background-color:rgba(244,244,244, 0.3) ;
    width: 100%;
    height: 0.2px;
    z-index: 20;
}
.header-img{
      
    color: #2C4985;
    margin-top: 5px;
    position: relative;
    z-index: 9;
    padding: 0;
}
.header-img >p{
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 10px;
}

.header-contact{
    margin-top: 20px;
    
}
.header-contact-info{
    margin-left: 16px;
}
.header-contact-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-contact-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-contact-item:not(:first-child){
    margin-left: 76px;
}
.header-contact-info > p,
.header-contact-info > span{
    font-family: 'Montserrat', sans-serif;
}
.header-contact-info > p{
    color: #1A3761 ;
}
.header-contact-info > span{
    color: #EE1F23;
    font-weight: 500;
    line-height: 1.5;
}

.header-menu{
    position: relative;
    z-index: 5;
    top:27px
}
/* .header-menu-list{} */
.header-menu-item{
    margin-right: 74px;
}
.header-menu-link{
    position: relative;
    text-transform: uppercase;
    color: #FFFF;
    padding-bottom: 21px;
    font-weight: 400;
    line-height: 1.5;
}
.header-menu-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #FFFF;
    color: #FFFF;
    transform: scale(0);
    transition: 0.3s linear;
    
}
.header-menu-link:hover{
    color: #FFFF;
}
.header-menu-link:hover::before{
    color:#FFFF;
    transform: scale(1);
}
.banner{

    position: relative;
    background: url("../image/banner.jpg") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: unset;
    top: -60px;
    height: 886px;
    max-height: 886px;

   
}
.banner::after{
   content: '';
   position: absolute;
   
   width: 27vw;
   height: 35px;
   background-color: #F8F8F8;
   left: 0;
   top: 0;
}
.banner::before{
    content: '';
    position: absolute;
    left: 27vw;
    top: 0;
    width: 35px;
    height: 35px;
    background-color:  #F8F8F8 transparent;
    border-bottom: 35px solid transparent;
    border-left: 35px solid #F8F8F8;
    z-index: 2;
}


.banner-content{
   padding-top: 290px;
    z-index: 4;
    /* margin-bottom: 150px; */
}

.banner-social{
    flex-direction: column;
    position: absolute;
    top:71%;
    left: 82%;
    text-align: center;
    transform: translateY(-50%);
    z-index: 4;
}
.banner-social > a:nth-of-type(2){
    margin: 30px 0;
}
.banner-box{
    max-width: 65%;

}
.banner-social{
    max-width: 35%;
}
.banner-title {
    display: block;
    font-size: 46px;
    font-weight: 600;
    line-height: 1.5;
    color: #FFFF;
    

}
.banner-description{
    font-size: 16px;
    max-width: 90%;
    font-weight:300;
    margin-top: 20px;
    line-height: 1.3;
    color: #FFFF;
    margin-bottom: 70px;
}
.link{
    position: relative;
    padding: 14.4px 51px;
    background-color: #EE1F23;
    color: #FFFF;
    line-height: 1;
    height: 48px;
}
.link:hover{
    color: #FFFF;
}
.link .arrow{
    position: absolute;
    top: 0;
    color: black;
    left: 100%;
    background-color: #F8F8F8;
    width: 48px;
    text-align:center ;
    height: 48px;
    padding: 14px;
}
.banner-angle{
    padding-top: 30px;
}
/* .banner-angle-down{
    position: absolute;
    left: 50%;
    bottom:0;
   
    color: red;

}
.banner-angle-down::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    z-index: 1;
    background-color:#FFFF ;
    
}
.banner-angle-down::after{
    content: '';
    position: absolute;
    left: 0;
    z-index: 4;
    top: 0;
    border-left: 30px solid red transparent; 
    border-bottom: 30px solid yellow ;
    border-right: 30px solid pink transparent ;
} */