@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    font-size: 14px;
    font-family:'Open Sans', sans-serif; 
    line-height: 1;
    /* overflow-x:hidden; */
}

.header{
    position: relative;
    background-color: #F8F8F8;
   
}

.header::before{
    content: '';
    position: absolute;
    left: 0;
    top:185px;
    background-color:rgba(244,244,244, 0.3) ;
    width: 100%;
    height: 0.2px;
    z-index: 20;
}
.header-img{
      
    color: #2C4985;
    margin-top: 5px;
    position: relative;
    z-index: 9;
    padding: 0;
}
.header-img >p{
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 10px;
}

.header-contact{
    margin-top: 20px;
    
}
.header-contact-info{
    margin-left: 16px;
}
.header-contact-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-contact-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-contact-item:not(:first-child){
    margin-left: 76px;
}
.header-contact-info > p,
.header-contact-info > span{
    font-family: 'Montserrat', sans-serif;
}
.header-contact-info > p{
    color: #1A3761 ;
}
.header-contact-info > span{
    color: #EE1F23;
    font-weight: 500;
    line-height: 1.5;
}

.header-menu{
    position: relative;
    z-index: 5;
    top:27px
}
/* .header-menu-list{} */
.header-menu-item{
    margin-right: 74px;
}
.header-menu-link{
    position: relative;
    text-transform: uppercase;
    color: #FFFF;
    padding-bottom: 21px;
    font-weight: 400;
    line-height: 1.5;
}
.header-menu-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #FFFF;
    color: #FFFF;
    transform: scale(0);
    transition: 0.3s linear;
    
}
.header-menu-link:hover{
    color: #FFFF;
}
.header-menu-link:hover::before{
    color:#FFFF;
    transform: scale(1);
}
.banner{

    position: relative;
    background: url("../image/banner.jpg") no-repeat center/cover ;
  
    top: -60px;
    min-height: 886px;

   
}
.banner::after{
   content: '';
   position: absolute;
   
   width: 27vw;
   height: 35px;
   background-color: #F8F8F8;
   left: 0;
   top: 0;
}
.banner::before{
    content: '';
    position: absolute;
    left: 27vw;
    top: 0;
    width: 35px;
    height: 35px;
    background-color:  #F8F8F8 transparent;
    border-bottom: 35px solid transparent;
    border-left: 35px solid #F8F8F8;
    z-index: 2;
}


.banner-content{
   padding-top: 290px;
    z-index: 4;
    /* margin-bottom: 150px; */
}

.banner-social{
    flex-direction: column;
    position: absolute;
    top:70%;
    left: 75%;
    text-align: center;
    transform: translateY(-50%);
    z-index: 4;
}
.banner-social > a:nth-of-type(2){
    margin: 30px 0;
}
.banner-box{
    max-width: 65%;

}
.banner-social{
    max-width: 35%;
}
.banner-title {
    display: block;
    font-size: 46px;
    font-weight: 600;
    line-height: 1.5;
    color: #FFFF;
    

}
.banner-description{
    font-size: 16px;
    max-width: 90%;
    font-weight:300;
    margin-top: 20px;
    line-height: 1.4;
    color: #FFFF;
    margin-bottom: 70px;
}
.banner-angle img{
    position: absolute;
    left: 48.3vw;
    z-index: 99;
    bottom: 0;
    
}

.banner-angle::before{
    content: '';
    position: absolute;
    left: 47vw;
    bottom: 0;
    width: 28px;
    height: 28px;
    
    border-left: 28px solid transparent;
    border-bottom: 28px solid #FFFF;
    border-right: 28px solid transparent;    
    z-index: 4;
}
.link{
    position: relative;
    padding: 14.4px 51px;
    background-color: #EE1F23;
    color: #FFFF;
    line-height: 1;
    height: 48px;
}
.link:hover{
    color: #FFFF;
}
.link .arrow{
    position: absolute;
    top: 0;
    color: black;
    left: 100%;
    background-color: #F8F8F8;
    width: 48px;
    text-align:center ;
    height: 48px;
    padding: 14px;
}
.banner-angle{
    padding-top: 30px;
}
.about{
    padding-top: 62px;
}
/* .about-image {
    margin-right: 71px;
} */
/* .image-person{
    width: 621px;
} */
.about-caption-title{
    position: absolute;
    left: 275px;
    bottom: -32px;
    padding: 43px 18px 50px 68px;
    font-size: 20px;
    font-weight:400;
    color: white;
    text-transform: uppercase;
    background-color: #265BC5;
    font-weight: 500;
    line-height: 1.2;
}
.about-caption-title span{
    display: block; 
}
.about-caption-icon{
    position: absolute;
    width: 94px;
    left: 243px;
    top:415px;
}
.title span{
    color: #EE1F23;
    text-transform: uppercase;
}
.title-uppercase p{
    text-transform: uppercase;
}

.title p{
    color: black;
    padding: 14px 0 30px 0;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.3;
}
.about-desc{
    padding-bottom: 72px;
    line-height: 1.5;
    font-size: 16px;  
    text-align: justify;  
}
.about-desc > p:nth-of-type(1){
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.service{
    width: 100%;
    padding: 120px 0;
    margin-top: 110px;
    background: url(../image/social_rectangle.jpg) no-repeat center/cover;
}
.service-box{
    margin: 0 auto;
    max-width: 1000px;
    
}

.service-number{
    position: absolute;
    right: 58px;
    top: 36px;
    color: #E0E0E0;
    font-size: 200px;
}
.service-item{
    position: relative;
    width: 50%;
    background-color: #F8F8F8;
    padding: 48px 169px 46px 52px;
    transition: all 0.4s linear;
}

.service-item:first-child{
    border-bottom: 1px solid #265BC5;
}
.service-item:hover{
    background-color: #265BC5;
    color: #F8F8F8 ;
    
}
.service-item:hover > .service-info h3 {
    color: #F8F8F8 ;
}
.service-item-active{
    background-color: #265BC5;
    color: #F8F8F8 ;
}
.service-item-active > .service-info h3{
   
    color: #F8F8F8 ;
}
.service-info{
    padding-top: 29px;
}
.service-info h3{
    color: #265BC5;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}
.service-info small{
    display: block;
    line-height: 1.5;

}
.news{
    padding: 110px 0;
    
}
.new-info{
    padding: 24px 27px 40px;
    
}
.new-info h2{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 14px;
}
.new-more{
    border-top: 1px solid #E0E0E0;
    padding: 25px 0;
    color: black;
}
.new-month img{
    margin-right: 6px;
}
.more{
    color: black;
}
.more:hover{
    color: black; 
}
.news-item{
    padding: 0;
    margin-right: 20px;
    transition: box-shadow 0.4s linear;
    cursor: pointer;
   
}
.new-box > .col-md-4:last-child > .news-item{
    margin-right: 0;

}


.news-item:hover{
    box-shadow: 0 7px 10px 5px rgba(0,0,0, 0.1);
}
.news-button-all{
    margin-top: 48px;
   
}
.feedback{
    background:
    linear-gradient(to bottom,
    rgba(255,255,255,0),
    rgba(255,255,255,1)),
         url(../image/feedback_image.png) no-repeat center/cover;
    max-height: 838px;
}
.feedback-box{
    padding: 123px 0;

}
.feedback-content{
   
    max-width: 970px;
    margin: 0 auto;
  
}

.feedback-card img{
    width: 302px;
 
}
.feedback-card{
    position: relative;
}
.feedback-info{
    position: absolute;
    left: 86px;
    bottom: -21px;
    padding: 8px 40px 13px 15px;
    background-color: #265BC5;
}
.feedback-info h4{
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFF;
    padding-bottom: 4px;
}
.feedback-info p{
    font-size: 12px;
    font-weight: 400;
    color: white;
}
.feedback-about{
    max-width: 100%;
    margin-left: 120px;
    position: relative;
    padding-top: 25px;  
}
.feedback-icon{
    position: absolute;
    left: -70px;
    top: 12px;
}
.feedback-desc{
    line-height: 1.5;
    text-align: justify;

}
.feedback-brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.feedback-brand img{
    width: 203px;
}
.map{
   margin-top: 32px;
    position: relative;
    background:url(../image/social_rectangle.jpg) no-repeat center/cover;
    width: 100%;
    min-height: 212px;
    z-index: 1;
   
}

.map::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #265BC5;
    width: 100%;
    height: 212px;
    z-index: 2;
    opacity: 0.955;
}
.map-list{
    height: 212px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.map-contact{
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFF;
}
.map-address,
.map-email,
.map-social,
.map-phone{
    color: #FFFF;
}
.map-item:not(:first-child){
    text-align: center;
}
.map-item img{
    width: 58px;
}
.map-item p{
    padding-top: 20px;
}

